@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-pretendard: "Pretendard", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-pretendard);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
